:root {
    --danger: #b6212d;
    --success: #177f75;
    --info: #21b6a8;
    --warning: #EDE0A6;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.font-warning {
    color: var(--warning);
}

.page-wrapper {
    overflow-x: hidden;
}

/*Header*/

.header-nav li {
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s ease;
}

.header-nav li a {
    color: #fff !important;
}

.header-nav li a:focus, .header-nav li a:hover {
    color: var(--warning) !important;
    transform: translateY(-2px);
    /*transition: 0.5s ease;*/
}

.header-nav li .dropdown-item {
    color: #000 !important;
}

.header-nav .dropdown-menu {
    padding: 0;
}

.header-nav li .dropdown-menu a:focus, .header-nav li .dropdown-menu {
    background-color: var(--success);
}

.header-nav li .dropdown-menu a:focus, .header-nav li .dropdown-menu a {
    color: #fff !important;
}

.header-nav li .dropdown-menu a:focus, .header-nav li .dropdown-menu a:hover {
    color: var(--success) !important;
}

/*Footer*/

.copyright-div {
    background-color: #126159;
    /*border-top: 2px solid var(--warning);*/
}

.copyright-div p {
    font-weight: 500;
}

/*Homepage carousel*/

.carousel-img {
    height: 45rem;
    object-fit: cover;
    filter: brightness(50%);
}

.carousel-caption-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    bottom: 0 !important;
}

.carousel-caption-custom h1 {
    font-size: 1.8rem;
}

.carousel-caption-custom p {
    font-size: 0.95rem;
    line-height: 1.7;
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .carousel-img {
        height: 35rem;
    }
    .carousel-caption-custom p {
        font-size: 1rem;
        line-height: 2;
    }
    .carousel-caption-custom h1 {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 992px) {
    .carousel-img {
        height: 30rem;
    }
    .carousel-caption-custom p {
        font-size: 1.1rem;
        font-weight: 600;
    }
}

/*Homepage read more button*/

.fancy-button {
    padding: 10px 20px;
    background: none;
    border: 1px solid var(--warning);
    color: var(--warning);
    outline: 2px solid var(--warning);
    transition: outline-offset 250ms ease;
}

.fancy-button:focus, .fancy-button:hover {
    outline-offset: -7px;
}

/*Custom yellow button*/

.custom-btn-outline-warning {
    color: var(--warning);
    border-color: var(--warning);
}

.custom-btn-outline-warning:hover {
    color: var(--success);
    background-color: var(--warning);
    border-color: var(--success);
}

/*Homepage Search Div*/

.search-and-news-div {
    background-color: var(--warning);
}

.search-div {
    background-color: var(--success);
}

.search-by-alphabet ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.search-by-alphabet ul li a {
    color: var(--warning);
    font-weight: 700;
    text-decoration: underline;
}

/*Homepage new and events*/

.news-div {
    background-color: #fff;
}

.news-list ul li {
    margin-bottom: 10px;
}

.news-list ul li a {
    color: var(--success);
    font-weight: 500;
}

/*All pages content div*/

.content-div {
    min-height: 26.5rem;
}

.content-div p, .content-div ul li {
    font-weight: 500;
}